$white: #ffffff;
$dark-desaturated-blue: #293356;
$grayish-blue: #848ead;
$light-grayish: #feede8;
$light-red: #ff8d68;
$light-grayish-blue-alpha: #ecf0fb;
$light-grayish-blue-beta: #cfd8ef;
$soft-cyan: #a5f3eb;
$strong-cyan: #10d5c2;
$pale-blue: #becdff;
$very-pale-blue: #f9faff;
