$white: #ffffff;
$dark-desaturated-blue: #293356;
$grayish-blue: #848ead;
$light-grayish: #feece7;
$light-red: #ff8c66;
$light-grayish-blue: #eaeefb;
$light-grayish-blue: #cdd7ee;
$soft-cyan: #a5f3eb;
$strong-cyan: #10d5c2;
$pale-blue: #bdccff;
$very-pale-blue: #fafbff;
