$white: #ffffff;
$dark-desaturated-blue: #293356;
$grayish-blue: #848ead;
$light-grayish: #feede8;
$light-red: #ff8d68;
$light-grayish-blue-alpha: #ecf0fb;
$light-grayish-blue-beta: #cfd8ef;
$soft-cyan-alpha: #a4f3eb;
$soft-cyan-beta: #7aeadf;
$strong-cyan-alpha: #24aea1;
$strong-cyan-beta: #10d8c4;
$pale-blue: #becdff;
$very-pale-blue: #f9faff;
