$sans-serif: "Manrope", sans-serif;

$semi-bold: 600;
$extra-bold: 800;

$fs-xl: 40px;
$fs-lg: 32px;

$fs-h1: 28px;
$fs-h2: 26px;
$fs-h3: 24px;
$fs-h4: 22px;
$fs-h5: 20px;
$fs-h6: 18px;

$fs-md: 16px;

$fs-sm: 14px;
$fs-xs: 12px;
$fs-xxs: 10px;

$fs-base-alpha: 15px;
$fs-base-beta: 13px;