@import './styles/pallete.scss';
@import './styles/breakpoints.scss';

.app {
  display: flex;
  height: 100vh;
  flex-direction: column;

  &__title-container {
    margin: 104px auto 92px;
    text-align: center;
    position: relative;

    &:before {
      content: '';
      height: 145px;
      width: 100%;
      background-image: url('assets/pattern-circles.svg');
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      left: 0;
      transform: translate(1px, -32px);
      z-index: -1;

      @media only screen and (min-width: $screen-md) {
        transform: translateY(-37px);
      }
    }
  }

  &__title {
    margin: 0;
    color: $dark-desaturated-blue;
    line-height: 27px;
  }

  &__description {
    color: $grayish-blue;
    line-height: 23px;
    margin: 0;

    &:first-of-type {
      margin: 8px 0 0 0;
    }

    @media only screen and (min-width: $screen-md) {
      margin: 12px 0 0 0;
    }
  }

  &__card {
    margin: 0 auto;
    display: flex;
  }
}
