@import './styles/pallete.scss';
@import './styles/typography.scss';
@import './styles/breakpoints.scss';

body {
  margin: 0;
  color: $grayish-blue;
  font-family: $sans-serif;
  font-weight: $semi-bold;
  font-size: $fs-base-mobile;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $very-pale-blue;
  background-image: url('assets/background.svg');
  background-repeat: no-repeat;
  background-position-y: -49px;

  @media only screen and (min-width: $screen-md) {
    background-position: center top;
    font-size: $fs-base-desktop;
  }
}

h1 {
  font-size: $fs-h1;
}
h2 {
  font-size: $fs-h2;
}
h3 {
  font-size: $fs-h3;
}
h4 {
  font-size: $fs-h4;
}
h5 {
  font-size: $fs-h5;
}
h6 {
  font-size: $fs-h6;
}
