@import '../../styles/pallete';
@import '../../styles/typography';
@import '../../styles/breakpoints';

.pricing-card {
  min-width: 327px;
  box-sizing: border-box;
  flex-direction: column;
  margin-bottom: 88px;

  @media only screen and (min-width: $screen-md) {
    min-width: 540px;
    margin-bottom: 0;
  }

  &__content {
    padding: 34px 0px 38px;

    @media only screen and (min-width: $screen-md) {
      padding: 40px 0px;
    }
  }

  &__footer {
    padding: 24px 77px 32px;

    @media only screen and (min-width: $screen-md) {
      padding: 0 48px 0 44px;
      height: 135px;
    }
  }

  &__divider {
    width: 100%;
    height: 1px;
    background-color: $light-grayish-blue-alpha;
  }
}

.pricing-card-content {
  display: flex;
  flex-direction: column;

  &__description {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 48px 0 46px;

    @media only screen and (min-width: $screen-md) {
      margin-bottom: 40px;
      justify-content: space-between;
    }
  }

  &__title {
    font-size: $fs-xs;
    text-transform: uppercase;
    font-weight: $extra-bold;
    text-align: center;
    margin-bottom: 41px;
    line-height: 16px;
    letter-spacing: 1.71429px;

    @media only screen and (min-width: $screen-md) {
      line-height: 19px;
      margin-bottom: 0;
      font-size: $fs-sm;
      letter-spacing: 2px;
    }
  }

  &__price-range {
    margin: 0 24px 40px;
    cursor: pointer;

    @media only screen and (min-width: $screen-md) {
      margin: 0 48px 0 48px;
    }
  }

  &__price {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__price-text {
    font-size: $fs-lg;
    font-weight: $extra-bold;
    color: $dark-desaturated-blue;
    line-height: 44px;
    letter-spacing: -0.8px;

    @media only screen and (min-width: $screen-md) {
      font-size: $fs-xl;
      line-height: 55px;
      letter-spacing: -1px;
    }
  }

  &__time-text {
    margin-left: 10px;
    color: $grayish-blue;
    font-size: $fs-sm;
    line-height: 19px;

    @media only screen and (min-width: $screen-md) {
      font-size: $fs-md;
      line-height: 22px;
    }
  }

  &__billing {
    display: flex;
    justify-content: center;
    margin-top: 34px;
    align-items: center;

    @media only screen and (min-width: $screen-md) {
      justify-content: stretch;
      margin-top: 56px;
      margin-left: 154px;
    }
  }

  &__billing-text {
    font-size: $fs-xs;
    line-height: 16px;
  }

  &__switch {
    margin: 0 12px;

    @media only screen and (min-width: $screen-md) {
      margin: 0 16px;
    }
  }

  &__pill {
    margin-left: 5px;
    height: 19px;
    line-height: 19px;
    color: $light-red;
    background-color: $light-grayish;
    font-weight: $extra-bold;
    font-size: $fs-xxs;
    border-radius: 9.5px;
    width: 100%;
    max-width: 41px;
    text-align: center;

    @media only screen and (min-width: $screen-md) {
      margin-left: 9px;
      max-width: 80px;
    }
  }
}

.pricing-card-footer {
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: $screen-md) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__benefits {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;

    @media only screen and (min-width: $screen-md) {
      margin-bottom: 0;
    }
  }

  &__benefit {
    font-size: $fs-xs;
    color: $grayish-blue;
    text-align: center;
    line-height: 17px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    @media only screen and (min-width: $screen-md) {
      text-align: initial;
    }
  }

  &__icon-check {
    margin-right: 16.05px;
  }

  &__button {
    max-width: 170px;
    line-height: 16px;
  }
}
